:root {
  --ifm-color-primary: #6a1917;
  --ifm-color-primary-dark: #6a1917;
  --ifm-color-primary-darker: #6a1917;
  --ifm-color-primary-darkest: #6a1917;
  --ifm-color-primary-light: #6a1917;
  --ifm-color-primary-lighter: #6a1917;
  --ifm-color-primary-lightest: #6a1917;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
  --ifm-color-primary: #ffc000;
  --ifm-color-primary-dark: #ffc000;
  --ifm-color-primary-darker: #ffc000;
  --ifm-color-primary-darkest: #ffc000;
  --ifm-color-primary-light: #ffc000;
  --ifm-color-primary-lighter: #ffc000;
  --ifm-color-primary-lightest: #ffc000;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* リンク用ボタン */
a.linkbutton {
  display: block;
  text-align: center;
  text-decoration: none;
  width: fit-content;
  padding: 1rem;
  font-weight: bold;
  border: 2px solid #27acd9;
  border-radius: 5px;
  color: #fff;
  background-color: #27acd9;
  transition: 0.5s;
}
a.linkbutton:hover {
  color: #27acd9;
  background: #fff;
}
